<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">编辑</h1>
</div>
<div class="wrapper-md" ng-controller="AppEditController">
	<div class="panel panel-default">
		<div class="panel-heading font-bold">基本信息</div>
		<div class="panel-body">
			<form class="form-horizontal" method="get">
				<div class="form-group">
					<label class="col-sm-2 control-label"> 应用名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="app.name">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"> 应用id </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="app.appId">
					</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">应用描述</label>
					<div class="col-sm-10">
						<div lazy-load="textAngular">
							<div text-angular ng-model="app.description" class="btn-groups"></div>
						</div>

					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>

					<div class="col-sm-5">
						<!-- <img
							src="https://onestong.com/mengjie/images/thumbnail/100-02.png_100x100.png"
							class="img-rounded"> -->
							<img
							ng-src="resources/img/{{app.icon}}"
							class="img-rounded">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">应用图标</label>
					<div class="col-sm-5">

						<input ui-jq="filestyle" type="file" data-icon="false"
							data-classButton="btn btn-default" file-model="icon"
							data-classInput="form-control inline v-middle input-s"> 
					</div>

				</div>



				<div class="form-group">
					<label class="col-sm-2 control-label">关键字</label>
					<div class="col-sm-6">
						<input type="text" ng-model="app.keywords" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
						<button type="submit" ng-click="addApp()" class="btn btn-primary">
							保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">版本信息</div>
		<div class="panel-body">
		<table class="table table-striped m-b-none">
			<thead>
				<tr>
					<th style="width: 30%" class="text-center">设备</th>
					<th style="width: 30%">版本</th>
					<th style="width: 60%">操作</th>
				</tr>
			</thead>
			<tbody>
				
				
				
				<tr ng-repeat="cv in app.currentVersions">
					<td class="text-center">{{cv.plat}}</td>
					<td>{{cv.version}}</td>
					<td>
						<button  ng-click="preUpdateVersion(cv.plat)" class="btn m-b-xs btn-sm btn-warning btn-addon">
							<i class="fa glyphicon-pencil"></i>编辑
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<footer class="panel-footer text-right bg-light lter">
             <button ng-click="preAddVersion()" class="btn btn-success">发布新应用</button>
            </footer>
	</div>

</div>