<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">添加新的应用</h1>
</div>
<div class="wrapper-md" ng-controller="AppAddController">
	<toaster-container toaster-options="{'position-class': 'toast-top-right','tap-to-dismiss':false, 'close-button':false,'time-out': 0}"></toaster-container>
	<div class="panel panel-default">
		<div class="panel-heading font-bold"></div>
		<div class="panel-body">
			<form class="form-horizontal" method="get">
				<div class="form-group">
					<label class="col-sm-2 control-label">所属客户</label>
					<div class="col-sm-10">
						<select  ui-jq="chosen" id="customer" class="w-md" ng-model="app.customer">
							<!-- <option value="ios">ios</option>
							<option value="android">android</option> -->
						</select>
					</div>
				</div>
			
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label"
						> 应用名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="app.name">
						<span class="help-block m-b-none">例如 梦洁大管家.</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"> 应用id </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="app.appId">
						<span class="help-block m-b-none">例如 com.onestong.xx.xx</span>
					</div>
				</div>


				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label"
						>应用描述</label>
					<div class="col-sm-10">
						<div lazy-load="textAngular">
							<div text-angular ng-model="app.description" class="btn-groups"></div>
						</div>

					</div>
				</div>

				<div class="line line-dashed b-b line-lg pull-in"></div>

				<div class="form-group">
					<label class="col-sm-2 control-label">应用图标</label>
					<div class="col-sm-10">
						<input ui-jq="filestyle" type="file" data-icon="false"
							data-classButton="btn btn-default" file-model="icon"
							data-classInput="form-control inline v-middle input-s"> <span
							class="help-block m-b-none">格式 ：300*200 在下载页面需要展示</span>
					</div>
				</div>



				<div class="form-group">
					<label class="col-sm-2 control-label">关键字</label>
					<div class="col-sm-6">
						<input type="text" ng-model="app.keywords" class="form-control"> <span
							class="help-block m-b-none"> 用来唯一表示一个应用 ，例如 :onestong</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
						<button type="submit" ng-click="addApp();" ng-disabled="processing" class="btn btn-primary">
							保存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>